.email {
  height: 391px;
  background-color: var(--color-red);
  display: flex;
  justify-content: center;
}

.email__content {
  display: flex;
  flex-direction: column;
  width: 1304px;
  padding: 20px 20px;
  background-image: url("https://live.verstaem.online/aura/img/subscribe-bg.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
}

.email__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: Russo One;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.1px;
  text-align: left;
  color: #fff;
}

.email__form {
  display: inline-flex;
  flex-direction: column;
  max-width: 460px;
  gap: 10px;
  .email__inputs {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;

    input {
      max-width: 460px;
      height: 70px;
      padding: 1px 2px 1px 32px;
      border-radius: 40px;
      border: none;
      background: var(--color-dark);
      color: var(--color-light);
      font-family: Muller;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
    }
    input::placeholder {
      color: var(--color-light);
      opacity: 0.9;
    }
  }
}
.email__btn {
  height: 70px;
  max-width: 275px;
}
.email__contract {
  display: flex;
  height: 11px;
  align-items: center;
  position: relative;
  color: #fff;
  .checkbox__text {
    position: absolute;
    left: 20px;
    font-family: Muller;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-align: left;
  }

  .checkbox {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    cursor: pointer;
    
  }
  .checkbox__active{

    background-repeat: no-repeat;
    background-image: url('https://live.verstaem.online/aura/img/check.svg');
    background-position: center;

  }
}
