@import url('./assets/fonts/font.css');

body{
  margin: 0;
  padding: 0;
}

:root {
  --color-light: #fff;
  --color-dark: #07060b;
  --color-primary: #46f4db;
  --color-primary-active: #57d272;
  --color-red: #d13130;
  --color-athens: #ededf2;
  --color-manatee: #95959d;
  --gap: 32px;
}
button, a, input, textarea, select {
  -webkit-tap-highlight-color: transparent; /* Убирает выделение при нажатии на мобильных устройствах с WebKit */
  -moz-tap-highlight-color: transparent; /* Убирает выделение при нажатии в Firefox */
  outline: none; /* Убирает обводку при фокусе */
  -moz-outline-style: none; /* Убирает обводку в Firefox */
  outline-style: none; /* Убирает обводку в других браузерах */
}
